<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cotización</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<center>
			<h2>Cotización</h2>

			<form action="/cotizacion" method="post">
				<label for="">Valor del Automóvil: </label>
				<input type="number" name="valor" id="valor" required="true" />
				<br />
				<label for="">Porcentaje de Pago Inicial: </label>
				<select name="pinicial" id="pinicial">
					<option value="10">10%</option>
					<option value="30">30%</option>
					<option value="50">50%</option>
					<option value="70">70%</option>
				</select>
				<br />

				<label for="">Plazos </label>
				<select name="plazo" id="plazo">
					<option value="12">12 meses</option>
					<option value="24">24 meses</option>
					<option value="36">36 meses</option>
					<option value="48">48 meses</option>
					<option value="60">60 meses</option>
				</select>
				<br />

				<button type="submit">Calcular</button>
				<button type="reset">Limpiar</button>

				<% let pagoInicial=0; let totalfin=0; let pagoMensual=0; if(valor !=null){ pagoInicial=valor *
					(pinicial/100); totalfin=valor - pagoInicial; pagoMensual=totalfin/plazo; %>
					<h3>Información de la Cotización</h3>
					<hr />
					Valor del Automovil : <%=valor%> <br> Porcentaje de pago Inicial : <%=pinicial%>% <br> Plazos :
							<%=plazo%>
								<br />
								Pago Inicial : <%=pagoInicial%>
									<br> Total a financiar: <%=totalfin%>
										<br> Pago Mensual : <%=pagoMensual%>

											<% } %>
												<br />
												<br />
			</form>
			<img src="./img/toyota.jpg" alt="">
		</center>
	</div>
</body>

</html>